#poster {
    max-width: 100%;
    max-height:100%;
}
.toast-right {
    position:absolute;
    top:0;
    right:0;
}

.plList {
    list-style:none;
    padding:0;
}

.plList > li {
    cursor:pointer;
    display:block;
    margin:0;
    padding:21px;
    background: #0665a2;
    color:#fff;
}

.plList > li:hover {
    background-color:#105481;
}

.plList .title {
    overflow:hidden;
    display: inline-block;
    width:85%;
    max-height:25px;
}

.plList .delete {
    display: inline-block;
    cursor: pointer!important;
    color:#f84d14;
}

.plList .num {
    overflow:hidden;
    width:8%;
    display:inline-block;
}

.plList .image {
    min-width:50px;
    min-height:50px;
    width:15%;
    display:inline-block;
}

.plList .image img {
    min-width:50px;
    min-height:50px;
    max-height:100%;
    max-width:100%;
}

.plList li.active, .plList li.active:hover {
    background-color:#3c335a;
    cursor:default !important;
}

#searchResults .result {
    height: 80px;
    display: flex;
    align-items: center;
    border-bottom:1px solid rgba(41, 19, 19, 0.2);
}

#searchResults .result .title {
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 7px;
}

#searchResults .result img , .playlist-icon {
    width: 60px;
    height: 60px;
    padding-right:8px;
}

#searchResults .result .play {
    margin-left:auto;
    cursor: pointer;
}

#searchResults .result .addToList {
    margin-left:8px;
    cursor: pointer;
}

.control-wrapper .control {
    background: 0 0;
    border: 0;
    border-radius: 3px;
    padding: 7px;
    transition: all .3s ease;
    color: #4f5b5f;
}

.control-wrapper .control:hover {
    background-color: #9265e3;
    color:#fff;
}

.control-wrapper .control:active,.control-wrapper .control:focus {
    outline: 0;
}

.control-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
}
.float-right {
    float:right;
}
.modal-header {
}